* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0 auto;
  width: 50%;
}

main {
  margin-top: 100px;
  margin-left: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 290px 190px 240px;
  grid-template-rows: 190px 110px 170px;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  background-color: darkslategrey;
  padding: 25px 15px;
  border-radius: 4px;
  width: 120vh;
}

.a {
  background-color: rgb(255, 171, 16);
  grid-area: a;
}

.b {
  background-color: rgb(252, 252, 54);
  grid-area: b;
}

.c {
  background-color: rgb(39, 209, 39);
  grid-area: c;
}

.d {
  background-color: rgba(219, 37, 143, 0.959);
  grid-area: d;
}

.e {
  background-color: rgba(219, 37, 143, 0.959);
  grid-area: e;
}
